.book .book-summary ul.summary:before {
    background: url("../assets/resources/logo/logo.png") center center no-repeat;
    background-size: 85% auto;
    width: 100%;
    height: 110px;
    display: block;
    content: "";
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
}
